bbody {
    background: #f4f4f4;
    color: #333;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-weight: lighter;
}

h1, h2 {
    color: #007bff
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.banner {
    text-align: center;
    color: white;
    padding: 230px 0;
    background-size: cover;
    background-position: center;
}

.btn-blue {
    color: white;
    background-color: #007bff;
    border-radius: 4px;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11);
}

.btn-blue:hover {
    background-color: #0056b3;
}

.card-white {
    background-color: white;
    color: #333;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    padding: 16px;
    margin: 16px 0;
}

.card-white img {
    margin-bottom: 20px;
}

.footer {
    background-color: #212529;
    color: white;
    padding: 24px;
}

.footer a {
    color: #f8f9fa;
}

.footer a:hover {
    color: #ddd;
}

.list-inline li {
    display: inline;
    padding: 0 8px;
}

.list-inline {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

#features {
    padding: 64px 0;
}